* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

#background {
  background-image: url(download.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  z-index: -1;
}

.container {
  width: 90%;
  margin: auto;
  padding: 30px 0px;
}

.h1 {
  font-size: 50px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fcba03;
  justify-content: center;
  align-items: center;
}

.img {
  margin: auto;
  display: block;
  margin-top: 60px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 3px solid #bef4f7;
}
.p1 {
  font-size: 20px;
  margin-top: 70px;
  margin-bottom: 30px;
  color: white;
  background: rgb(0, 0, 0, 0.314);
  font-weight: bolder;
  text-align: justify;
  
}
a {
  color: #fcba03;
}
@media (max-width: 1023px) {
  .p1{
    font-size: 18px;
    margin-top: 30px;
  }
  .img{
    height: 200px;
    width: 200px;
    margin-top: 30px;
  }
  .h1 {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .p1{
    font-size: 15px;
    margin-top: 20px;
  }
  .img{
    height: 170px;
    width: 170px;
    margin-top: 30px;
  }
  .h1 {
    font-size: 40px;
  }
}



